<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Forms</title>
    <link rel="stylesheet" href="buttons.css">
</head>
<body id="button-page">
    <nav class="nav-light">
        <a href="../../index.html">Home</a>
        <a href="../form/form.html">Form</a>
        <a href="buttons.html">Buttons</a>
    </nav>
    <h2>Button Playground</h2>
    <button id="mode-toggle">Turn Light</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="buttons.js"></script>
</body>
</html>
